.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar input {
    width: 200px;
    height: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.navbar .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .tabs button {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.navbar .tabs button[data-status="active"] {
    border-bottom: 2px solid blue;
}

.navbar .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .actions button {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


#menu-bar-1, #menu-bar-2, #menu-bar-3 {
    transition: all 0.3s ease-in-out;
  }
  
  #menu-icon.close #menu-bar-1 {
    transform: rotate(45deg) translate(-3px, 3px);
  }
  
  #menu-icon.close #menu-bar-2 {
    opacity: 0;
  }
  
  #menu-icon.close #menu-bar-3 {
    transform: rotate(-45deg) translate(-3px, -3px);
  }  