.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar input {
    width: 50vw;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.navbar .tabs,
.navbar .navtabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navtabs{
    position: relative;
}
.navbar .navtabs svg {
    cursor: pointer;
    transform: translate(90%, -3px);
}
.navbar .tabs{
    position: absolute;
    top: 150%;
    left: -500%;
    flex-direction: column;
    transition: 0.5 ease-in-out;
    border-radius: 0px 0px 10px 0px;
    padding: 10px; 
}
.navtabs .tabs.display{
    transition: 0.5 ease-in-out;
    display: flex;
    z-index: -1;
    position: absolute;
    top: 150%;
    left: 0%;
    flex-direction: column;
    background-color: lightgray;
    margin-bottom: 10px;
}

.navbar .tabs button {
    background-color: transparent;
    width: 100px;
    border: none;
    margin: 2px 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}

.navbar .tabs button[data-status="active"] {
    border: 2px solid blue;
}

.navbar .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .actions button {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


#bar1, #bar2, #bar3 {
    transition: all 0.3s ease-in-out;
}

#menu.close #bar1 {
    transform: rotate(45deg) translate(6px, -10px);
}

#menu.close #bar2 {
    opacity: 0;
}

#menu.close #bar3 {
    transform: rotate(-45deg) translate(-15px); 
}