.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar input {
    width: 50vw;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.navbar .tabs,
.navbar .navtabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navtabs{
    position: relative;
}
.navbar .navtabs svg {
    cursor: pointer;
    transform: translate(90%, -3px);
}
.navbar .tabs{
    display: none;
    position: absolute;
    left: -100%;
    transition: 0.5 ease-in-out;
}
.navtabs .tabs.display{
    display: flex;
    z-index: -1;
    position: absolute;
    top: 150%;
    left: 100%;
    margin-left: 50px;
    flex-direction: column;
    background-color: lightgray;
    margin-bottom: 10px;
}

.navbar .tabs button {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.navbar .tabs button[data-status="active"] {
    border-bottom: 2px solid blue;
}

.navbar .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .actions button {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


#menu-bar-1, #menu-bar-2, #menu-bar-3 {
    transition: all 0.3s ease-in-out;
  }

  #menu-icon.close #menu-bar-1 {
    transform: rotate(45deg) translate(6px, -10px);
  }
  
  #menu-icon.close #menu-bar-2 {
    opacity: 0;
  }
  
  #menu-icon.close #menu-bar-3 {
    transform: rotate(-45deg) translate(-15px);
  }  